

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@Href(" ~/shared/style2.css")" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        @*<div class="container-fluid">*@
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MatchSongWithGuitar</a>
        </div>
        <ul id="nav" class="nav nav-tabs">
            <li>
                <a href="~/default.cshtml">
                    <i class="fa fa-home" aria-hidden="true" style="font-size:36px;color:#332a38;"></i>
                </a>
            </li>
            <li>
                <a href="~/WebPage1.cshtml">
                    <i class="fa fa-music" aria-hidden="true" style="font-size:36px;color:#332a38;"></i>
                </a>
            </li>
            <li>
                <a href="~/WebPage2.cshtml">
                    <i class="fa fa-database" aria-hidden="true" style="font-size:36px;color:#332a38;"></i>
                </a>
            </li>
        </ul>
        @*</div>*@
    </nav>
    @*<div class="wrapper">*@
    <div>
        @*<header>
                @*<h1>This is my header</h1>
                @RenderPage("~/Shared/_Header.cshtml")
            </header>*@
        @*<nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">MatchSongWithGuitar</a>
                    </div>
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="~/default.cshtml">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li>
                                <a href="~/WebPage1.cshtml">
                                    <i class="fa fa-music"></i>
                                </a>
                            </li>
                            <li>
                                <a href="~/WebPage2.cshtml">
                                    <i class="fa fa-database"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </div>
            </nav>*@


        @*<div id="nav">
                <div class="tooltip">
                    <a href="~/default.cshtml" class="tooltip">
                        <i class="fa fa-home" aria-hidden="true" style="font-size:36px;color:teal;"></i>
                    </a>
                    <span class="tooltiptext">Home</span>
                </div>
                <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
                <div class="tooltip">
                    <a href="~/WebPage1.cshtml" class="tooltip">
                        <i class="fa fa-music" aria-hidden="true" style="font-size:36px;color:teal;"></i>
                    </a>
                    <span class="tooltiptext">Guitars</span>
                </div>
                <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
                <div class="tooltip">
                    <a href="~/WebPage2.cshtml" class="tooltip">
                        <i class="fa fa-database" aria-hidden="true" style="font-size:36px;color:teal;"></i>
                    </a>
                    <span class="tooltiptext">SongList</span>
                </div>
            </div>*@

        <div class="container">
            <div id="topSpace" class="row"></div>
            <div class="row">
                <section class="col-md-8 content">

                    <div>
                        @*class="content"*@
                    @RenderBody()
                    @* can only have renderbody in one place *@
                </div>

            </section>
            <section class="col-md-4">

                <aside>
                    @*<h2>This is my sidebar</h2>*@
                    @RenderSection("sidebar", false)
                </aside>
                @*<div id="HedLine"></div>*@
            </section>

        </div>
        <div class="row">
            <section class="col-md-12" style="background-color: darkgray;">
                <footer>
                    @*<p>This is my Footer</p>*@
                    @RenderPage("~/Shared/_Footer.cshtml")


                </footer>
            </section>
        </div>
    </div>





</div>


</body>
</html>

