
@{
    Layout = "~/Shared/_Layout.cshtml";
}
@{var imgValue = Request["btn1"];}
@{
    <h3>Songs And Artist Played With Chosen Guitar</h3>
    

        <p>@imgValue</p>
}


<html>
<head>
    <title>Songs</title>
</head>
<body>

   
    @{

        string[,] arrayTemp = new string[5, 2] { { "", "" }, { "", "" }, { "", "" }, { "", "" }, { "", "" } };
        if (imgValue != null)
        {


            string[,] arrLesPaul = new string[5, 2] { { "'Walk This Way'", "Aerosmith" }, {  "'Sweet Child O' Mine'", "Guns N' Roses" },
                                        {  "'Another Brick in the Wall'", "Pink Floyd"}, {  "'Heartbreaker'", "Led Zeppelin" },
                                        {  "'Hotel California'", "Eagles" } };

            string[,] arrExplorer = new string[5, 2] { { "'Breakout'", "Foo Fighters" }, {  "'Enter Sandman'", "Metallica" },
                                        {  "'Free Bird'", "Lynyrd Skynyrd"}, {  "'Beautiful Day'", "U2" },
                                        {  "'Rock You Like a Huricane'", "Scorpions" } };

            string[,] arrStrat = new string[5, 2] { { "'All Along the Watchtower'", "Jimi Hendrix" }, {  "'Highway Star'", "Deep Purple" },
                                        { "'Black Rose'", "Thin Lizzy"}, {  "'Soma'", "Smashing Pumpkins" },
                                        {  "'Stairway to Heaven'", "Led Zepplin" } };

            string[,] arrSG = new string[5, 2] { { "'Crossroads'", "Eric Clapton" }, {  "'Let There be Rock'", "AC / DC" },
                                        {  "'Soul Sacrifice'", "Santana"}, {  "'Love Me Two Times'", "The Doors" },
                                        {  "'Motorhead'", "Metallica" } };

            string[,] arrRG = new string[5, 2] { { "'Cherry Pie", "Warrant" }, {  "'Symphony of Destructon'", "Megadeth" },
                                        {  "'Mother'", "Danzig"}, {  "'Hysteria'", "Def Leppard" },
                                        {  "'Freak on a Leash'", "Korn" } };



            if (imgValue.Equals("ex"))
            {
                arrayTemp = arrExplorer;
            }
            if (imgValue.Equals("lp"))
            {
                arrayTemp = arrLesPaul;
            }
            if (imgValue.Equals("rg"))
            {
                arrayTemp = arrRG;
            }
            if (imgValue.Equals("sg"))
            {
                arrayTemp = arrSG;
            }
            if (imgValue.Equals("st"))
            {
                arrayTemp = arrStrat;
            }
        }
    }

    <div class="container">
        <div class="row">
            <section class="col-md-1"></section>
            <section class="col-md-9">
                <table class="table-responsive table-bordered table-hover" id="songs" border="0">
                    <tbody>

                        <tr>
                            <th>Song</th>
                            <th>Band/Singer</th>
                        </tr>
                        <tr class="success">
                            <td>@arrayTemp[0, 0].ToString()</td>
                            <td>@arrayTemp[0, 1].ToString()</td>
                        </tr>
                        <tr class="success">
                            <td>@arrayTemp[1, 0].ToString()</td>
                            <td>@arrayTemp[1, 1].ToString()</td>
                        </tr>
                        <tr class="success">
                            <td>@arrayTemp[2, 0].ToString()</td>
                            <td>@arrayTemp[2, 1].ToString()</td>
                        </tr>
                        <tr class="success">
                            <td>@arrayTemp[3, 0].ToString()</td>
                            <td>@arrayTemp[3, 1].ToString()</td>
                        </tr>
                        <tr class="success">
                            <td>@arrayTemp[4, 0].ToString()</td>
                            <td>@arrayTemp[4, 1].ToString()</td>
                        </tr>

                    </tbody>
                </table>
            </section>
            <section class="col-md-2"></section>
        </div>
    </div>
</body>
</html>
@section sidebar{
    <h3>My Favorite Bands</h3>
    <ol>
        <li>Metallica</li>
        <li>Volbeat</li>
        <li>Collective-Soul</li>
        <li>Breaking-Benjamin</li>
        <li>Journey</li>
        <li>Scorpions</li>
        <li>Shine-Down</li>
        <li>Def-Leppard</li>
        <li>Credence-Clearwater-Revival</li>
        <li>Hewie-Lewis-and-the-News</li>
    </ol>


}



